.container {
	margin: 10px;

	.row {
		display: flex;
		justify-content: center;
	}

	.block {
		border: 1px solid #ccc;
        width: 10%;
        height: 30px;
		// aspect-ratio: 1;
	}
}

.btns {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	.btn{
		width: 80rpx;
		height: 80rpx;
		text-align: center;
		line-height: 80rpx;
		border-radius: 80rpx;
		border: 1px solid #ccc;
	}
}